html{
    height: 100%;
}

body {
    font-family: "Gill Sans";
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 205, 105);
    background-color: rgb(230, 246, 250);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
  }
  